<div class="form-wrapper">
  <div class="container form">
    <div class="row justify-content-center">
      <div class="col-8 col-sm-12">
        <h1><i class="fas fa-cocktail"></i> | Create new Cocktail </h1>
        <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Add Cocktail", :class => "btn btn-grey"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
