<div class="background">
  <div class="container">
    <div class="row justify-content-between">
      <div class="d-flex flex-grow-1">
        <div class="col-4">
          <div class="show-card" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>');"></div>
        </div>
        <div class="col-8">
          <div class="cocktail-info d-flex">
            <div class="card info" style="width: 18rem;">
              <div class="card-body">
                <h2 class="text-white"> <%= @cocktail.name  %> </h2>
              </div>
            </div>
            <div class="card info" style="width: 18rem;">
              <div class="card-body">
                <h5>Ingredient - Dose </h5>
                <% @cocktail.doses.each do |dose| %>
                  <p class="card-text"><i class="fas fa-circle"></i><%= dose.ingredient.name %> - <%= dose.description %> <%= link_to '<i class="fas fa-trash"></i>'.html_safe, dose_path(dose), :method => :delete %></p>
                <% end %>
                <%= link_to 'Add Ingredient & Dose', new_cocktail_dose_path(@cocktail), :class => "btn btn-grey last card-link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="reviews">
          <h2 class="text-white"> Reviews </h2>
          <ul class="list-group mb-4">
          <% @cocktail.reviews.each do |review| %>
            <li><%= review.content %></li>
          <% end %>
          </ul>
          <%= link_to 'Add Review', new_cocktail_review_path(@cocktail), :class => "btn btn-grey" %>
        </div>
      </div>
    </div>
  </div>
</div>


