<div class="container form">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-12">
      <h1><i class="fas fa-cocktail"></i> | Add new dose for <%= @cocktail.name  %> </h1>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Add dose", class: "btn btn-grey" %>
      <% end %>
    </div>
  </div>
</div>
